* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Helvetica", "Arial", sans-serif;
  font-size: 16px;
  line-height: 1.3;
}

.cv-container, .form-container {
  margin: 25px auto;
  width: 90%;
  border: solid 1px grey;
  border-radius: 3px;
}

.cv-details,
.cv-profile,
.employment-history {
  margin-top: 25px;
  margin-left: 35px;
  margin-right: 35px;
}

.cv-details-row {
  margin-left: 15px;
  margin-bottom: 10px;
  display: flex;
  flex-direction: row;
}

.cv-form {
  margin: 15px;
}

.cv-header {
  display: flex;
  flex-direction: row;
}

.cv-header-text {
  text-align: left;
  margin-left: 15px;
}

.cv-header-text:first-of-type {
  margin-top: 15px;
}

.cv-header-text:last-of-type {
  margin-top: 15px;
}

.cv-name {
  font-size: 25px;
  font-weight: bold;
}

.cv-photo {
  height: 150px;
  width: 125px;
}

.details {
  margin-left: 15px;
}

.details-label {
  width: 60px;
  text-align: center;
}

.employment-label {
  width: 155px;
  text-align: center;
}

.icon {
  margin-right: 10px;
}

.form-row {
  margin-bottom: 40px;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
}

.form-row input[type='text'],
.form-row input[type='tel'],
.form-row input[type='email'],
.form-row input[type='url'],
.form-row input[type='file'] {
  background-color: #FFFFFF;
  border: solid 1px #D6D9DC;
  border-radius: 3px;
  width: 100%;
  padding: 7px;
  font-size: 14px;
}

.form-row input[type='text']:invalid,
.form-row input[type='tel']:invalid,
.form-row input[type='email']:invalid,
.form-row input[type='url']:invalid {
  border: 1px solid #D55C5F;
  color: #D55C5F;
  box-shadow: none;   /* Remove default red glow in Firefox. */
}

.form-row input[type='text']:valid,
.form-row input[type='tel']:valid,
.form-row input[type='email']:valid,
.form-row input[type='url']:valid {
  border-color: green;
}

.form-row textarea {
  font-family: "Helvetica", "Arial", sans-serif;
  font-size: 14px;

  border: 1px solid #D6D9DC;
  border-radius: 3px;

  width: 100%;
  min-height: 100px;
  margin-bottom: 10px;
  padding: 7px;
  resize: none;
}

.form-row label {
  margin-bottom: 15px;
}

h2 {
  margin: 15px auto;
  text-align: center;
}

h3 {
  text-align: center;
  margin-bottom: 15px;
}

.header {
  background-color: rgb(85, 85, 245);
  color: white;

  height: 100px;
  line-height: 100px;
  text-align: center;
}

.main {
  color: #5D6063;
  background-color: #EAEDF0;
  display: flex;
  flex-direction: column;

  justify-content: center;

}

.name-title {
  background-color: rgb(33, 204, 204);
  color: black;
  flex-grow: 1;
}

.profile, .position-info {
  margin-left: 15px;
}

.profile-label {
  width: 60px;
  text-align: center;
}

.section-label {
  background-color: black;
  color: white;
  margin-top: 15px;
  margin-bottom: 10px;
  margin-left: 15px;
}

@media only screen and (min-width: 1000px) {
  .cv-container, .form-container {
    width: 45%;
    border: solid 1px grey;
  }

  .main {
    flex-direction: row;
    justify-content: space-evenly;
  }
}

@media only screen and (min-width: 700px) {
  .form-row {
    flex-direction: row;
    align-items: flex-start; /* To avoid stretching */
    margin-bottom: 20px;
  }
  .form-row input[type='text'],
  .form-row input[type='tel'] {
    height: initial;
    flex-grow: 1;
  }
  .form-row label {
    text-align: right;
    width: 245px;
    margin-top: 7px;
    padding-right: 20px;
  }
}