* {
  margin: 0;
  padding: 0;
}

.cv-container, .form-container {
  margin-bottom: 25px;
  width: 90%;
  border: solid 1px grey;
}

.header {
  background-color: rgb(85, 85, 245);
  color: white;

  height: 100px;
  line-height: 100px;
  text-align: center;
}

.main {
  margin-top: 25px;
  display: flex;
  flex-direction: column;

  justify-content: center;
  align-items: center;
}

@media only screen and (min-width: 900px) {
  .cv-container, .form-container {
    width: 45%;
    border: solid 1px grey;
  }


  .main {
    flex-direction: row;
    justify-content: space-evenly;
  }
}