* {
  margin: 0;
  padding: 0;
}

.header {
  background-color: rgb(85, 85, 245);
  color: white;

  height: 100px;
  line-height: 100px;
  text-align: center;
}

.main {
  display: flex;
  flex-direction: column;
}

@media only screen and (min-width: 700px) {
  .cv-container, .form-container {
    width: 45%;
    border: solid 1px grey;
  }


  .main {
    margin-top: 25px;
    flex-direction: row;
    justify-content: space-evenly;
  }
}